.color {

    &-white {
        color: $white;
    }

    &-black {
        color: $black;
    }

    &-dark {
        color: $dark-100;
    }

    &-dark2 {
        color: $dark-200;
    }

    &-primary {
        color: $primary-100;
    }

    // &-muted {
    //     color: $muted-100;
    // }

    // &-muted2 {
    //     color: $muted-500;
    // }
}
