*,
::after,
::before {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important;
    }
}

textarea {
    resize: vertical;
}

::-ms-clear {
    display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
p[class] {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;

    &[class] {
        cursor: pointer;
        // color: inherit;
    }
}

button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}




