%fixedXY {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@include placeholder {
    opacity: 1;
    line-height: normal;
}

.no-scroll {
    @extend %fixedXY;
    overflow-y: scroll;
}

.not-allowed {
    pointer-events: none !important;
}

.container {
    width: 94%;
    padding: 0 15px;
    max-width: 1550px;
    margin: 0 auto;
}

// .main-bg {
//     background: linear-gradient(0deg, rgba(220, 220, 220, 0.2), rgba(220, 220, 220, 0.2));
// }

.middle-block {
    background: linear-gradient(0deg, rgba(220, 220, 220, .2), rgba(220, 220, 220, .2));
    border-radius: 100px 100px 0 0;
}

.m {

    &l-auto {
        margin-left: auto;
    }

    &t-auto {
        margin-top: auto;
    }

    &r-auto {
        margin-right: auto;
    }

    &b-auto {
        margin-bottom: auto;
    }

    &x-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

.pane {
    background-color: $white;
    border-radius: 40px;
}

.contacts {

    & > li {

        &:nth-child(n + 2) {
            margin-top: 1.25em;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        color: $black;

        svg {
            width: 1.5em;
            height: 1.5em;
        }

        & span {
            color: $black;
            will-change: color;
            transition: color $duration-main ease;
        }

        &:hover,
        &:active {
            color: $primary-100;

            & span {
                color: $primary-100;
            }
        }
    }
}

.scroll {

    &-auto {

        &-x {
            overflow-x: auto;
        }

        &-y {
            overflow-y: auto;
        }
    }
}

.o {

    &-hidden {
        overflow: hidden;
    }

    &-visible {
        overflow: visible;
    }
}

.pos {

    &-relative {
        position: relative;
    }
}

.overlay {
    @include fade-in(.3s);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 50;
    visibility: visible;
    background-color: $white;

    &.hidden {
        @include fade-out(.3s, .3s);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
    }
}

.logo {

    & > svg {
        @include min-w-md {
            width: 11.125em;
        }
        width: 10.125em;
        height: 2.063em;
    }
}

.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary-100;
        border-radius: 20px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba($secondary-100, .6);
    }
}

.word {
    display: inline-flex;
}
