.l-height {

    &-129\% {
        line-height: 129%;
    }

    &-130\% {
        line-height: 130%;
    }

    &-150\% {
        line-height: 150%;
    }

    &-170\% {
        line-height: 170%;
    }

    &-175\% {
        line-height: 175%;
    }
}
