.text {
    letter-spacing: .01em;

    &--fz-14 {
        font-size: .875em;
    }

    &--fz-16 {
        font-size: 1em;
    }

    &--fz-18 {
        font-size: 1.125em;
    }

    &--fz-20 {
        font-size: 1.25em;
    }

    &--fz-24 {
        font-size: 1.5em;
    }

    &--fz-36 {
        font-size: 2.25em;
    }

    &--ws-pre-line {
        white-space: pre-line;
    }

    &-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;

        &--line-1 {
            -webkit-line-clamp: 1;
        }

        &--line-2 {
            -webkit-line-clamp: 2;
        }

        &--line-5 {
            -webkit-line-clamp: 5;
        }
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &--nowrap {
        white-space: nowrap;
    }

    &-break {
        word-break: break-word;
    }
}

.text\:prev-xs {

    &-left {
        @include max-w-prev-xs {
            text-align: left;
        }
    }
}

.text\:max-sm {

    &-center {
        @include max-w-sm {
            text-align: center;
        }
    }
}


.text--fz-20\:sm-18 {
    @include min-w-md {
        font-size: 1.25em;
    }
    font-size: 1.125em;
}

.text--fz-16\:prev-md-18 {
    @include min-w-md {
        font-size: 1.125em;
    }
    font-size: 1em;
}

.text--fz-14\:md-16 {
    @include min-w-md {
        font-size: 1em;
    }
    font-size: .875em;
}

.fw {

    &-medium {
        font-weight: $medium;
    }

    &-semi-bold {
        font-weight: $semi-bold;
    }

    &-bold {
        font-weight: $bold;
    }
}


