.title {
    margin: 0;
    font-weight: normal;
    line-height: 1em;

    &--main {
        @include min-w-prev-sm {
            font-size: 2em;
        }
        @include min-w-xl {
            font-size: 3em;
        }
        font-size: 1.75em;
    }

    &--huge {
        @include min-w-prev-sm {
            font-size: 4em;
        }
        @include min-w-xl {
            font-size: 4.5em;
        }
        font-size: 2.25em;
    }
}
