// Fonts
$montserrat: "Montserrat", sans-serif;

// color
$white: #fff;
$primary-100: #2f7fef;
$primary-200: #3d65e7;
$primary-300: #407bff;
$secondary-100: #c4c4c4;
$secondary-200: #dfdfdf;
$violet-100: #c6b6fa;
$violet-200: #c3b3fa;
$dark-100: #333;
$dark-200: #505050;
$black: #000;



// font weight
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;


// animate
$duration-main: .3s;
