.accordion {

    &__item {

        &.is-open {

            & .accordion__toggler {
                transform: rotate(180deg);
            }
        }
    }

    &__holder {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s cubic-bezier(.5, 0, 0, 1.25);

        &.is-open {
            max-height: none !important;
            overflow: visible;
        }
    }
}

.accordion-mq {

    &__holder {
        @include max-w-lg {
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s cubic-bezier(.35, .15, .37, 1.14);

            &.is-open {
                max-height: none !important;
                overflow: visible;
            }
        }
    }
}
