$red: #ff4b55;
$red-2: #ff4b4b;
$green: #4bff93;
$blue: #58f1fb;
$blue-2: #585efb;
$violet: #854bff;
$violet-2: #bb4bff;
$violet-3: #644bff;



%innerSquare {
    content: "";
    display: block;
    padding-top: 100%;
}


.main-bg {
    background: linear-gradient(0deg, rgba(220, 220, 220, 0.2), rgba(220, 220, 220, 0.2));
}


.header-bg-figure-left {
    pointer-events: none;
    position: absolute;
    width: 31.85%;
    min-width: 500px;
    top: -30%;
    left: -5%;

    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($red, .058) 32%, transparent 75%);
    }
}

.header-bg-figure-right {
    pointer-events: none;
    position: absolute;
    width: 33.45%;
    min-width: 500px;
    top: -30%;
    right: -5%;

    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($green, .068), transparent 75%);
    }
}

.with-us-bg-figure {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 15%;
    width: 50.6%;
    min-width: 700px;

    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($violet, .068) 35%, transparent 74%);
    }
}

.services-bg-figure-left {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    width: 60%;
    min-width: 600px;

    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($violet-2, .038) 37%, transparent 74%);
    }
}

.services-bg-figure-right {
    pointer-events: none;
    position: absolute;
    top: 40%;
    right: -25%;
    transform: translateY(-50%);
    width: 53.35%;
    min-width: 600px;

    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($red-2, .038) 37%, transparent 74%);
    }
}

.advantages-bg-figure-left {
    pointer-events: none;
    position: absolute;
    bottom: -60%;
    left: -20%;
    width: 100%;
    min-width: 800px;

    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba(187, 75, 255, 0.048) 35%, transparent 74%);
    }
}

.advantages-bg-figure-right {
    pointer-events: none;
    position: absolute;
    bottom: 20px;
    right: -15%;
    width: 80%;
    min-width: 700px;

    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($violet-3, .038) 37%, transparent 74%);
    }
}

.write-to-us-bg-figure-left {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-18%);
    width: 626px;
    min-width: 400px;

    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($blue-2, .048) 37%, transparent 74%);
    }
}

.write-to-us-bg-figure-right {
    pointer-events: none;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    min-width: 600px;

    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($blue, .062) 37%, transparent 74%);
    }
}

