html {
    font-size: 16px;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: $montserrat;
    font-weight: 400;
}

.wrap-helper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .reset-will-change {
        will-change: auto;
    }

    &__inner {
        flex: 1 0 auto;
    }
}

img {
    display: block;
    margin: 0 auto;
}
