.card {
    background-color: $white;

    &--small {
        border-radius: 10px;

        & .card__holder {
            padding: 1.25em .625em;
        }

    }

    &--medium {
        border-radius: 20px;

        & .card__holder {
            padding: 1.875em;
        }
    }

    &__text {
        max-width: 17em;
    }

    &--with-shadow {
        box-shadow: 0 4px 45px rgba($black, .05);
    }

    &--bottom-line {
        border-bottom: 7px solid $violet-100;
    }

    &__pic {
        margin-left: 2%;

        & > img {
            max-height: 7.375em;
            width: auto;
        }
    }

    &__figure {
        padding-right: 1.438em;
        padding-left: 1.438em;
        border-radius: 10px 3.688em 3.688em 10px;
        background-color: $violet-200;
        display: inline-flex;
        align-items: center;
    }
}
