.countries__holder {
    position: relative;

    .country-choise-circle {
        width: 0;
        height: 0;
        z-index: 1;
        position: absolute;

        &::after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.56);
            border: none;
            box-sizing: border-box;
            box-shadow: 0 4px 21px rgba(0, 0, 0, 0.11);
            text-align: center;
            transform: translateX(-50%);
            bottom: 0;
            top: 0;
            margin: auto;
            z-index: 2;
        }

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: rgba(47, 127, 239, 1);
            // border: 0px solid $white;
            transform: translateX(-50%);
            bottom: 0;
            top: 0;
            margin: auto;
            z-index: 3;
        }
    }

    .country-choise-circle-animation {

        &::after {
            @include min-w-xl {
                animation-name: bigCircleAnimationXl;
            }
            @include max-w-lg {
                animation-name: bigCircleAnimationMd;
            }

            animation-fill-mode: forwards;
            animation-duration: 1s;
        }

        &::before {
            animation-name: smallCircleAnimation;
            animation-fill-mode: forwards;
            animation-duration: 1s;
        }
    }
}

@keyframes bigCircleAnimationXl {
    0% {
        width: 0;
        height: 0;
        border: none;
    }

    50% {
        width: 270px;
        height: 270px;
        border: 2px solid $primary-100;
    }

    75% {
        width: 210px;
        height: 210px;
    }

    100% {
        width: 222px;
        height: 222px;
        border: 2px solid $primary-100;
    }
}

@keyframes bigCircleAnimationMd {
    0% {
        width: 0;
        height: 0;
        border: none;
    }

    50% {
        width: 170px;
        height: 170px;
        border: 2px solid $primary-100;
    }

    75% {
        width: 135px;
        height: 135px;
    }

    100% {
        width: 150px;
        height: 150px;
        border: 2px solid $primary-100;
    }
}

@keyframes smallCircleAnimation {
    0% {
        width: 0;
        height: 0;
        border: none;
    }

    20% {
        width: 0;
        height: 0;
        border: 5px solid $white;
    }

    55% {
        width: 28px;
        height: 28px;
    }

    75% {
        width: 22px;
        height: 22px;
    }

    100% {
        width: 24px;
        height: 24px;
        border: 5px solid $white;
    }
}
