.footer {
    padding-bottom: 55px;

    &__holder {
        @include min-w-xl {
            padding-right: 5%;
            display: flex;
        }
        @include max-w-lg {
            border-top: 1px solid $black;
        }
    }

    &__logo {
        @include min-w-xl {
            margin-right: 14%;
        }
        flex-shrink: 0;
    }

    &__items {
        @include min-w-sm {
            margin-left: -15px;
            margin-right: -15px;
            min-width: 0;
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 auto;
        }
    }

    &__menu {
        &:not(:nth-child(2)) {
            display: none !important;
        }

        &:nth-child(2) {
            & > li:not(.footer__menu-headline):not(:last-child) {
                display: none !important;
            }
        }

        &:nth-child(4) {
            display: block !important;
        }

        @include min-w-sm {
            width: calc(50% - 30px);
            margin-left: 15px;
            margin-right: 15px;
        }
        @include min-w-md {
            width: calc(33.3333% - 30px);
        }
        margin-bottom: 40px;
        text-align: left;

        &:last-child {
            margin-bottom: 0;
        }

        &-headline {
            font-weight: $semi-bold;
            font-size: 1.125em;
            line-height: 150%;
        }

        & > li {

            &:nth-child(n + 2) {
                margin-top: 20px;
            }

            & > a {
                font-weight: $normal;
                line-height: 150%;
                color: $black;
                transition: color $duration-main ease;

                &:hover,
                &:active {
                    color: $primary-100;
                }
            }
        }
    }

    &__copyright {
        @include min-w-md {
            font-size: 1.125em;
        }
        @include min-w-xl {
            text-align: center;
        }
        font-weight: $semi-bold;
        line-height: 150%;
    }
}
