.header {
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
    z-index: 10;

    & .logo {
        position: relative;
        z-index: 10;
    }

    &-content {
        @include max-w-lg {
            // padding: 27px 22px 27px 36px;

            & .logo {
                display: flex;
                align-items: center;
            }
        }
        @include max-w-sm {
            padding: 21px 14px 21px 22px;
            border-radius: 28px;
        }
        padding-right: 70px;
        padding-left: 50px;
        background-color: $white;
        width: 94%;
        max-width: 1520px;
        margin: 0 auto;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        transform: translateY(-150%);
        will-change: transform;
    }
}

.menu-link {
    color: #000;
    transition: 0.15s;

    &:hover {
        color: #2f7fef;
    }
}

.services-illustration {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.services__text {
    margin-top: 0;
}

.services__item + .services__item {
    margin-top: 340px;
}

.payment-methods {
    padding-top: 106px;
}

.write-to-us h2 {
    font-size: 2em;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 0;
}

.swiper-slide-icon {
    max-height: 60px;
}

.with-us-illustration {
    width: 1032px;
    height: 774px;
}

.services {
    overflow: hidden;
}

.services-illustration-service {
    width: 670px;
    height: 509px;
}

.services-illustration-markets {
    width: 910px;
    height: 509px;
}

.services-illustration-friendly {
    width: 916px;
    height: 521px;
}

@media all and (max-width: 1500px) {
    .services-illustration-service {
        width: 570px;
    }
    .services-illustration-markets {
        width: 580px;
    }
    .services-illustration-friendly {
        width: 590px;
    }
    .services__item + .services__item {
        margin-top: 200px;
    }
    .how-to-start {
        padding-top: 80px;
    }
}

@media all and (max-width: 1440px) {
    .header-two-items {
        padding-top: 0;
    }
    .with-us-illustration {
        width: 900px;
        height: auto;
    }

    .header-two-items {
        padding-bottom: 80px;
    }
}

@media all and (max-width: 1270px) {
    .with-us-illustration {
        width: 800px;
        height: auto;
    }
}

@media all and (max-width: 1200px) {
    .how-to-start {
        padding-top: 50px;
    }
    .how-to-start .items-steps {
        margin-top: 40px;
    }
    .two-items .with-us-illustration {
        position: initial;
    }
    .header-two-items .mt-75 {
        margin-top: 0;
    }
    .header-two-items {
        padding-bottom: 0;
    }
    .services-illustration-service,
    .services-illustration-markets,
    .services-illustration-friendly {
        width: 580px;
        height: 350px;
    }
    .services__item + .services__item {
        margin-top: 0;
    }
    .services__item {
        margin-top: 3.75em;
    }
    .countries__group li:nth-child(n + 2) {
        margin-left: 40px;
    }
}

@media all and (max-width: 1000px) {
    .services {
        overflow: initial;
    }
    .services-illustration {
        position: initial;
    }
    .services__item {
        background-color: #fff;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 28px;
        padding: 1.875em;
        overflow: hidden;
    }
    .two-items {
        flex-direction: column;
        display: flex;
    }

    .two-items li {
        order: 1;
    }

    .two-items .two-items__pic {
        order: 0;
    }

    .services-illustration-service,
    .services-illustration-markets,
    .services-illustration-friendly {
        width: 100%;
        max-width: 580px;
        height: auto;
    }
    .services-illustration {
        margin-bottom: 30px;
    }
    .services .mt-45 {
        margin-top: 0;
    }
}

@media all and (max-width: 930px) {
    .two-items .with-us-illustration {
        width: 100%;
    }
    .countries__group li:nth-child(n + 2) {
        margin-left: 42px;
    }
    .countries__group {
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 290px;
    }
    .countries__group li:nth-child(n + 2) {
        margin-left: 0;
    }
    .countries__pane {
        margin-top: 3em;
        padding: 40px 52px;
        border-radius: 32px;
    }
    .w-100 {
        width: 100%;
        margin-top: 20px;
    }
    .countries__group.mt-30 {
        margin-top: 0;
    }
    .countries__group li {
        margin-top: 20px;
    }
    .countries .mt-75 {
        margin-top: 30px;
    }
    .payment-methods {
        padding-top: 70px;
    }
    .logos-slider.mt-80 {
        margin-top: 50px;
    }
    .write-to-us {
        padding-top: 70px;
    }
}

@media all and (max-width: 767px) {
    .middle-block {
        border-radius: 48px 48px 0px 0px;
    }

    .write-to-us__form {
        margin-top: 50px;
    }
}

@media all and (max-width: 636px) {
    header {
        padding-top: 24px;
    }

    .advantages .items-list {
        margin-top: 40px;
    }
    .countries {
        padding-bottom: 60px;
    }
}

@media all and (max-width: 540px) {
    .write-to-us__contacts .contacts {
        flex-wrap: wrap;
    }
    .write-to-us__contacts .contacts li:nth-child(n + 2) {
        margin-top: 20px;
    }
}

@media all and (max-width: 530px) {
    header .header-content-mobile {
        border-radius: 28px 28px 0 0;
    }
    
    .btn {
        padding: 1.25em 1.75em;
    }
    .write-to-us h2 {
        font-size: 1.5em;
    }
    .write-to-us {
        margin-bottom: 70px;
    }
}

@media all and (max-width: 440px) {
    .countries__group li {
        width: 100%;
    }
    .countries__group li ~ li {
        margin-top: 20px;
    }
    .w-100 {
        margin-top: 0;
    }
    .countries__pane {
        padding: 25px 30px;
    }
    .countries {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .countries .mt-75 {
        margin-top: 40px;
    }
}
