.header-two-items {
    // padding-top: 40px;
    padding-bottom: 240px;
}

.two-items {
    position: relative;
    @include min-w-md {
        display: flex;
        margin-right: -7.5px;
        margin-left: -7.5px;
    }

    & > li {
        @include min-w-md {
            flex: 1 1 calc(50% - 15px);
            margin-right: 7.5px;
            margin-left: 7.5px;
        }
    }

    &--lg-collapse {
        @include min-w-xl {
            display: flex;
            margin-right: -15px;
            margin-left: -15px;
        }
        display: block;
        margin: 0;

        & > li {
            @include min-w-xl {
                flex: 1 1 calc(50% - 15px);
                margin-right: 7.5px;
                margin-left: 7.5px;
            }
            margin: 0;
        }
    }
    .with-us-illustration {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: -90px;
    }
}

.items-steps {
    @include min-w-xl {
        display: flex;
        align-items: center;
    }

    & > li {
        @include max-w-lg  {
            margin-left: auto;
            margin-right: auto;
        }
    }

    & .card {
        min-height: 9.063em;
        max-width: 31.25em;
    }

    &__bond {
        @include min-w-xl {
            flex-shrink: 0;
            width: 95px;
            height: 1px;
            margin: 0;
        }
        width: 1px;
        position: relative;
        height: 45px;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;



        &::before,
        &::after {
            @include min-w-xl {
                top: calc(50% - 6px);
            }
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $primary-100;
        }

        &::before {
            @include min-w-xl {
                left: 0;
            }
            @include max-w-lg {
                top: 0;
                left: calc(50% - 6px);
            }
            opacity: 0;
            transform: scale(.7);
            will-change: transform, opacity;
        }

        &::after {
            @include min-w-xl {
                right: 0;
            }
            @include max-w-lg {
                bottom: 0;
                right: calc(50% - 6px);
            }
            opacity: 0;
            transform: scale(.7);
            will-change: transform, opacity;
        }

        & > .line-bind {
            @include min-w-xl {
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                height: 1px;
                width: 0;
                will-change: width;
            }
            @include max-w-lg {
                height: 0;
                width: 1px;
                left: 50%;
                top: 12px;
                transform: translateX(-50%);
                will-change: height;
            }
            content: "";
            position: absolute;
            background-color: $primary-100;
        }
    }
}

.items-list {
    @include min-w-md {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.25em;
        margin-right: -1.25em;
        margin-bottom: -1.125em;
    }
    @include min-w-xl {
        margin-left: -1.875em;
        margin-right: -1.875em;
        margin-bottom: -2.188em;
    }

    & > li {
        @include min-w-md {
            margin-left: 1.25em;
            margin-right: 1.25em;
            margin-bottom: 1.125em;
        }
        @include min-w-xl {
            flex: 1 1 calc(33.3333% - 3.75em);
            margin-left: 1.875em;
            margin-right: 1.875em;
            margin-bottom: 2.188em;
        }
    }

    &--col-3 {
        & > li {
            @include min-w-md {
                flex: 1 1 calc(50% - 2.5em);
            }
            @include min-w-xl {
                flex: 1 1 calc(33.3333% - 3.75em);
            }
            @include max-w-sm {
                &:nth-child(n + 2) {
                    margin-top: .75em;
                }
            }
        }
    }

    &--col-4 {
        & > li {
            @include min-w-md {
                flex: 1 1 calc(50% - 2.5em);
            }
            @include min-w-xl {
                flex: 1 1 calc(25% - 3.75em);
            }
            @include max-w-sm {
                &:nth-child(n + 2) {
                    margin-top: .75em;
                }
            }
        }
    }
}

