.navbar {
    @include min-w-md {
        display: flex;
        align-items: center;
    }
    &__toggler {
        &.hamburger {
            @include max-w-sm {
                display: inline-flex;
                margin-left: auto;
            }
            display: none;
        }
    }
    &__nav-wrap {
        @include max-w-sm {
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s cubic-bezier(0.5, 0, 0, 1.25);
            &.is-open {
                max-height: none !important;
                overflow: visible;
            }
        }
    }
    &__nav {
        @include max-w-sm {
            padding-top: 38px;
            padding-left: 36px;
            padding-bottom: 50px;
        }
        @include max-w-sm {
            padding-left: 28px;
        }
        @include min-w-md {
            display: flex;
            padding-top: 38px;
        }
        &>li {
            @include min-w-md {
                margin-bottom: 38px;
            }
            &:nth-child(n + 2) {
                @include min-w-md {
                    margin-left: 3.75em;
                }
                @include max-w-sm {
                    margin-top: 1.25em;
                }
            }
        }
        // & > li:not(:last-child) {
        //     display: none !important;
        // }
    }
    &__link {
        @include max-w-sm {
            width: 100%;
            justify-content: space-between;
        }
        background-color: transparent;
        font-weight: $semi-bold;
        font-size: 1.125em;
        line-height: 150%;
        display: inline-flex;
        align-items: center;
        color: $black;
        transition: color $duration-main ease;
        &>svg {
            margin-left: .5em;
            width: .8em;
            height: .5em;
            fill: $black;
            will-change: transform;
            transition: fill $duration-main ease, transform $duration-main ease;
        }
        &:hover,
        &:active {
            @include min-w-md {
                &>svg {
                    transform: rotate(180deg);
                }
                &~.navbar__dropdown-holder {
                    z-index: 5;
                    opacity: 1;
                    pointer-events: auto;
                    transform: scale(1) translateY(0);
                }
            }
        }
        &:hover,
        &:active,
        &.active {
            color: $primary-100;
            &>svg {
                fill: $primary-100;
            }
        }
    }
    &__dropdown {
        @include min-w-md {
            margin-bottom: 38px;
            &:hover {
                margin-bottom: 0;
                padding-bottom: 38px;
                &>.navbar__link {
                    color: $primary-100;
                    &>svg {
                        fill: $primary-100;
                        transform: rotate(180deg);
                    }
                }
                &>.navbar__dropdown-holder {
                    z-index: 5;
                    opacity: 1;
                    pointer-events: auto;
                    transform: scale(1) translateY(0);
                }
            }
        }
        position: relative;
        &-holder {
            @include min-w-md {
                min-width: 320px;
                padding-top: 15px;
                opacity: 0;
                overflow: hidden;
                pointer-events: none;
                position: absolute;
                top: 100%;
                left: 0;
                transform-origin: 50% 0;
                transform: scale(0.75) translateY(-20px);
                transition: transform .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out, z-index 0s 0s;
                z-index: -1;
                & ul {
                    margin-left: 10px;
                }
            }
        }
        &-inner {
            @include min-w-md {
                background: $white;
                box-shadow: 0 4px 16px rgba(0, 0, 0, .04);
                border-radius: 28px;
                padding: 40px 15px 40px 25px;
                & ul {
                    margin-left: 12px;
                }
            }
            @include max-w-sm {
                & ul {
                    margin-left: 10px;
                }
            }
        }
    }
    &__submenu {
        @include min-w-md {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 60vh;
            padding-right: 10px;
        }
        @include max-w-sm {
            padding-top: .813em;
        }
        text-align: left;
        &>li {
            &:nth-child(n + 2) {
                @include min-w-md {
                    margin-top: 1.5em;
                }
                margin-top: 1em;
            }
            &>a {
                @include max-w-sm {
                    font-weight: $medium;
                    line-height: 150%;
                    color: $dark-200;
                    transition: color $duration-main ease;
                    font-size: 1em;
                }
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }
        }
        &-item {
            @include min-w-md {
                &.is-open {
                    & .navbar__link {
                        color: $primary-100;
                        &>svg {
                            transform: rotate(180deg);
                            fill: $primary-100;
                        }
                    }
                }
            }
        }
    }
    &__submenu-dropdown {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s cubic-bezier(0.5, 0, 0, 1.25);
        &>ul {
            @include min-w-md {
                padding-top: 1.25em;
            }
            @include max-w-sm {
                padding-top: .813em;
            }
            &>li {
                &:nth-child(n + 2) {
                    @include min-w-md {
                        margin-top: 1.125em;
                    }
                    margin-top: 1em;
                }
                &>a {
                    font-weight: $medium;
                    line-height: 150%;
                    color: $dark-200;
                    display: inline-flex;
                    transition: color $duration-main ease;
                    &:hover,
                    &:active {
                        color: $primary-100;
                    }
                }
            }
        }
    }
    &__collapse {
        @include max-w-sm {
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            margin-top: -25px;
        }
        @include max-w-sm {
            margin-top: -20px;
        }
    }
    &__holder {
        @include max-w-sm {
            padding-right: 19px;
            background-color: $white;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            box-shadow: 0 4px 16px rgba(0, 0, 0, .04);
            border-bottom-right-radius: 40px;
            border-bottom-left-radius: 40px;
            border-color: $white;
            transition: border .3s cubic-bezier(.35, .15, .37, 1.14);
            &::before {
                content: "";
                background-color: $white;
                position: absolute;
                pointer-events: none;
                left: 50%;
                transform: translateX(-50%);
                height: 5px;
                bottom: 100%;
                width: 98.5%;
            }
            &.is-open {
                border-bottom: 20px solid $white;
                &::before {
                    width: 100%;
                }
            }
        }
        @include max-w-sm {
            padding-right: 15px;
        }
    }
    &__scrollbar {
        @include max-w-sm {
            max-height: calc(100vh - 165px);
            padding-right: 10px;
            overflow-y: auto;
        }
    }
}

.accordion-mq {
    &>.navbar__link {
        font-weight: $semi-bold;
    }
    &.is-open {
        &>.navbar__link {
            @include max-w-sm {
                color: $primary-100;
                &>svg {
                    transform: rotate(180deg);
                    fill: $primary-100;
                }
            }
        }
    }
}