.popup {
    @include fade-out(.3s, .3s);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 15px;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    align-items: flex-start;

    &.js-popup-opened {
        @include fade-in(.3s);
        opacity: 1;
        z-index: 20;
        visibility: visible;

        .popup__overlay {
            opacity: 1;
            z-index: 20;
            visibility: visible;
            transition: opacity .3s 0s, visibility 0s 0s, z-index 0s 0s;
        }

        .popup__subtitle {
            animation-delay: .2s;
            animation-duration: .4s;
            animation-fill-mode: both;
            opacity: 0;
            animation-name: fadeInUp;
        }

        .popup__image {
            animation-delay: .3s;
            opacity: 0;
            animation-name: bounceIn;
            animation-duration: 450ms;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        .popup__wrap {
            transform: translateY(0);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(#000, .3);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: opacity .3s 0s, visibility 0s .3s, z-index 0s .3s;
    }

    &__wrap {
        position: relative;
        padding: 3.438em 1em 1.25em;
        background-color: $white;
        z-index: 20;
        max-width: 625px;
        width: 100%;
        transform: translateY(-20px);
        transition: transform .3s;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 45px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }

    &__subtitle {
        opacity: 0;
        transform: translate3d(0, 40px, 0);
    }

    &__image {

        svg {
            width: 185px;
        }
    }

    &__close {
        cursor: pointer;
        padding: 2.5px;
        display: inline-flex;
        position: absolute;
        top: 1.5em;
        right: 1.5em;

        svg {
            width: 1.188em;
            height: 1.188em;
            fill: $dark-100;
            transition: fill;
        }

        &:hover {
            animation-duration: .8s;
            animation-fill-mode: both;
            animation-iteration-count: 1;
            animation-name: rubberBand;

            svg {
                fill: $primary-100;
            }
        }
    }
}
