.logos-slider {
    position: relative;

    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4.875em;
        z-index: 5;
        background: linear-gradient(269.64deg, #fefafa 26.25%, rgba(255, 255, 255, 0.51) 63.45%, rgba(255, 255, 255, 0));
    }

    &::before {
        left: 0;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &::after {
        right: 0;
    }

    & .swiper-slide {
        width: 178px;
        height: 104px;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .938em;
        padding-bottom: .938em;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }

        &.pb-25 {
            padding-bottom: 1.563em;
        }
    }

    & [class^="swiper-button"] {
        @include max-w-lg {
            display: none;
        }
        background-color: $primary-100;
        border-radius: 50%;
        width: 2.313em;
        height: 2.313em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 4px 45px rgba($black, .05);
        z-index: 10;

        & > svg {
            width: .438em;
            height: .875em;
            fill: $white;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }

        &:hover {
            background-color: $primary-200;
        }
    }

    & .swiper-button-next {
        right: 0;

        & > svg {
            transform: scale(-1);
        }
    }

    & .swiper-button-prev {
        left: 0;
    }

}
