%innerSquare {
    content: '';
    display: block;
    padding-top: 100%;
}

.main-bg {
    background: linear-gradient(0deg, rgba(220, 220, 220, 0.2), rgba(220, 220, 220, 0.2));
}

.header-bg-figure {
    pointer-events: none;
    position: absolute;
    width: 33.45%;
    max-width: 640px;
    min-width: 385px;
    top: -30%;
    right: -5%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($green-1, 0.168) 37%, transparent 74%);
    }
}

.content-bg-figure-help {
    pointer-events: none;
    position: absolute;
    width: 41.75%;
    max-width: 610px;
    min-width: 450px;
    top: -8.6%;
    left: -22%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($red-1, 0.184) 37%, transparent 74%);
    }
}

.content-bg-figure-offer {
    pointer-events: none;
    position: absolute;
    width: 90%;
    max-width: 970px;
    min-width: 715px;
    top: -34.6%;
    left: 0%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($violet-1, 0.14) 37%, transparent 74%);
    }
}

.footer-bg-figure {
    pointer-events: none;
    position: absolute;
    width: 90%;
    max-width: 970px;
    min-width: 715px;
    top: -110%;
    right: -40%;
    z-index: -1;
    &::before {
        @extend %innerSquare;
        background: radial-gradient(circle at 50%, rgba($green-2, 0.19) 37%, transparent 74%);
    }
}
