.footer {
    position: relative;
    padding: 140px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background-color: $blue-2;
    margin-top: 229px;
    margin-bottom: 140px;
    background: radial-gradient(
            100% 100% at 24.85% 81.5%,
            rgba(196, 233, 253, 0.54) 0%,
            rgba(255, 255, 255, 5.4e-5) 100%
        ),
        $blue-2;
    @include max-w-md {
        padding: 90px 20px;
        margin-top: 88px;
        margin-bottom: 116px;
    }
    @include max-w-prev-xs {
        padding: 75px 15px;
        margin-top: 77px;
        margin-bottom: 99px;
    }
    &__title {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 40px;
        margin-top: 2px;
        letter-spacing: 0.5px;
        text-align: center;
        @include max-w-md {
            margin-bottom: 25px;
            line-height: 62.4px;
        }
        @include max-w-sm {
            font-size: 40px;
            line-height: 50px;
        }
        @include max-w-next-sm {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 13px;
        }
        @include max-w-xs {
            font-size: 24px;
            line-height: 31.2px;
        }
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 60px;
        margin-top: 3px;
        @include max-w-next-sm {
            font-size: 18px;
            line-height: 23.22px;
            margin-bottom: 30px;
        }
    }
}
