.header {
    position: relative;
    display: flex;
    padding-top: 60px;
    padding-bottom: 80px;
    @include max-w-md {
        flex-direction: column;
    }
    @include max-w-xs {
        padding-top: 50px;
    }
    &-left {
        width: 54%;
        @include max-w-md {
            width: 100%;
        }
        &__logo {
            width: 200px;
            height: 34px;
        }
        &__title {
            font-size: 72px;
            font-weight: 700;
            line-height: 92.88px;
            color: $gray-1;
            margin-bottom: 38px;
            margin-top: 105px;
            @include max-w-lg {
                font-size: 69px;
                line-height: 89px;
            }
            @include max-w-md {
                font-size: 66px;
                line-height: 84px;
            }
            @include max-w-sm {
                font-size: 64px;
                line-height: 82.87px;
                margin-top: 40px;
            }
            @include max-w-next-sm {
                font-size: 56px;
                line-height: 70px;
            }
            @include max-w-prev-xs {
                font-size: 46px;
                line-height: 60px;
                margin-bottom: 30px;
            }
            @include max-w-xs {
                font-size: 36px;
                line-height: 46.44px;
                margin-top: 35px;
            }
        }
        &__text {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color: $black;
            margin-bottom: 58px;
            max-width: 420px;
            letter-spacing: 0.05px;
            @include max-w-prev-xs {
                font-size: 16px;
                line-height: 20.64px;
                margin-bottom: 40px;
            }
        }
    }
    &-right {
        position: relative;
        width: 55.9%;
        margin-left: -3%;
        margin-top: 78px;
        margin-right: -5%;
        @include max-w-xl {
            margin-left: 1%;
        }
        @include max-w-md {
            width: 100%;
            margin: 58px 0 0;
        }
        @include max-w-prev-xs {
            margin-top: 40px;
        }
        &__shape {
            position: absolute;
            top: -98px;
            left: 62px;
            width: 11.4%;
            @include max-w-md {
                display: none;
            }
        }
        &__img {
            img {
                width: 100%;
            }
        }
    }
}
