@import '_vars';
@import '_mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import '_background';
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
html {
    overflow-x: hidden;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}

.overflow {
    overflow-x: hidden;
}

.container {
    max-width: 1616px;
    margin: 0 auto;
    padding: 0 48px;
    @include max-w-xs {
        padding: 0 24px;
    }
}

.btn-telegram {
    background-color: $blue-1;
    max-width: 341px;
    max-height: 67px;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: $white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    @include max-w-xs {
        max-width: 273px;
        max-height: 56px;
        padding: 20px 15px;
        font-size: 14px;
        line-height: 21px;
    }
    &:hover {
        background-color: $blue-3;
    }
    span {
        padding-left: 7px;
    }
    svg {
        fill: $white;
        width: 25px;
        height: 24px;
        margin-left: 16px;
    }
}
@import '_header';
@import '_content';
@import '_footer';
