<header class="header pos-relative" data-el-anime="header">
    <span class="header-bg-figure-left"></span>
    <span class="header-bg-figure-right"></span>
    <div class="header-content js-header-content">
        <div class="logo">
            <svg>
                <use xlink:href="#icon-logo-main"></use>
            </svg>
        </div>
        <nav class="navbar" data-navbar-menu>
            <div class="navbar__mob-header pos-relative">
                <button type="button" class="hamburger hamburger--elastic navbar__toggler"  data-navbar-toggler>
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="navbar__collapse w-100per" data-navbar-collapse>
                <div class="navbar__holder" data-nav-holder>
                    <div class="navbar__scrollbar custom-scrollbar">
                        <div class="navbar__nav-wrap" data-nav>
                            <ul class="navbar__nav" data-wrap-accordion>
                                <li>
                                    <a href="#" class="navbar__link">
                                        <span>Price</span>
                                    </a>
                                </li>
                                <li class="navbar__dropdown accordion-mq" data-accordion="mq">
                                    <a href="#" class="navbar__link" data-accordion-toggler>
                                        <span>Developers</span>
                                        <svg>
                                            <use xlink:href="#icon-check"></use>
                                        </svg>
                                    </a>
                                    <div class="navbar__dropdown-holder accordion-mq__holder" data-accordion-holder>
                                        <div class="navbar__dropdown-inner">
                                            <ul class="navbar__submenu custom-scrollbar" data-wrap-accordion>
                                                <li>
                                                    <a href="#" class="navbar__link">
                                                        <span>Price</span>
                                                    </a>
                                                </li>
                                                <li class="navbar__submenu-item accordion-mq" data-submenu-toggler data-accordion="mq">
                                                    <a href="#" class="navbar__link" data-accordion-toggler>
                                                        <span>Developers</span>
                                                        <svg>
                                                            <use xlink:href="#icon-check"></use>
                                                        </svg>
                                                    </a>
                                                    <div class="navbar__submenu-dropdown accordion-mq__holder" data-submenu-holder data-accordion-holder>
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    About us
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    Partners
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    Testimonials
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="navbar__submenu-item accordion-mq" data-submenu-toggler data-accordion="mq">
                                                    <a href="#" class="navbar__link" data-accordion-toggler>
                                                        <span>Company</span>
                                                        <svg>
                                                            <use xlink:href="#icon-check"></use>
                                                        </svg>
                                                    </a>
                                                    <div class="navbar__submenu-dropdown accordion-mq__holder" data-submenu-holder data-accordion-holder>
                                                        <ul>
                                                            <li>
                                                                <a href="#">
                                                                    About us
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    Partners
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    Testimonials
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="#" class="navbar__link">
                                                        <span>Blog</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="navbar__link">
                                                        <span>FAQ</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="navbar__link">
                                                        <span>Contacts</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="navbar__dropdown accordion-mq" data-accordion="mq">
                                    <a href="#" class="navbar__link" data-accordion-toggler>
                                        <span>Company</span>
                                        <svg>
                                            <use xlink:href="#icon-check"></use>
                                        </svg>
                                    </a>
                                    <div class="navbar__dropdown-holder accordion-mq__holder" data-accordion-holder>
                                        <div class="navbar__dropdown-inner">
                                            <ul class="navbar__submenu custom-scrollbar" data-wrap-accordion>
                                                <li>
                                                    <a href="#" class="navbar__link">
                                                        <span>About us</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="navbar__link">
                                                        <span>Partners</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="navbar__link">
                                                        <span>Testimonials</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="navbar__link">
                                        <span>Blog</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="navbar__link">
                                        <span>FAQ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="navbar__link">
                                        <span>Contacts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://docs.paykassma.com/category/pd" class="navbar__link">
                                        <span>Documentation</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
