<!DOCTYPE html>
<html lang="en" class="no-scroll">
    <head>
        <script type="text/javascript">
            window._startLoading_ = Date.now();
            window._defaultTime_ = 500;
        </script>
        <title>Guide on how to receive online payments for your business</title>
        <meta name="description" content="We offer tutorial services on online payments for your business. We give you the technical knowhow that you will need to help you to receive online payments quickly and comfortably."/>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
        />
        <meta name="format-detection" content="telephone=no" />
        <link rel="icon" href="images/favicon/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <noscript>Для работы этого сайта необходимо включить JavaScript.</noscript>
        <div id="overlay" class="overlay"></div>
        <div id="loader"></div>
        <script type="text/javascript">
            if ((Date.now() - window._startLoading_) > window._defaultTime_) {
                document.getElementById('loader').classList.add('active');
                window._activeLoader_ = true;
            }
        </script>
        <%= require('html-loader!./includes/symbol-sprite.html') %>
        <div class="wrap-helper main-bg">
            <div class="wrap-helper__inner">
                <main class="o-hidden">
                    <%= require('html-loader!./includes/header.html') %> <%=
                    require('html-loader!./includes/with-us.html') %> <%=
                    require('html-loader!./includes/services.html') %> <%=
                    require('html-loader!./includes/advantages.html') %>
                    <div class="middle-block">
                        <%= require('html-loader!./includes/how-to-start.html') %> <%=
                        require('html-loader!./includes/countries.html') %>
                    </div>
                    <%= require('html-loader!./includes/payment-methods.html') %> <%=
                    require('html-loader!./includes/write-to-us.html') %>
                </main>
            </div>
            <%= require('html-loader!./includes/footer.html') %>
        </div>
        <%= require('html-loader!./includes/popup.html') %>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    </body>
</html>
