.advantages {
    @include min-w-md {
        margin-top: 3.75em;
    }
    @include min-w-xl {
        margin-top: 10.625em;
    }
    margin-top: 4.375em;

    &__card {
        min-height: 12.5em;
        opacity: 0;
        transform-origin: left center;
        transform: scale(0) rotate(-45deg);
        will-change: transform, opacity;
    }

    & .card__holder {
        opacity: 0;
        will-change: opacity;
    }

    & .text-anime {
        opacity: 0;
        transform: translateY(60%);
        will-change: transform, opacity;
    }

    .letter {
        display: inline-block;
        transform: scale(0) translateY(65%);
        will-change: transform;
    }
}
