.countries {
    padding-top: 84px;
    padding-bottom: 108px;

    .letter {
        display: inline-block;
        transform: scale(0) translateY(65%);
        will-change: transform;
    }

    &__pane {
        margin-top: 5em;
        padding: 3.875em 1em;
        opacity: 0;
        transform: translateY(40%);
        will-change: transform, opacity;
    }

    &__group {
        display: flex;

        & li {
            flex-shrink: 0;
            display: flex;
            align-items: center;

            & > a {
                display: flex;
                color: $black;
                text-decoration: underline;

                & span {
                    will-change: color;
                    transition: color $duration-main ease;
                }

                &:hover {
                    color: $primary-100;

                    & span {
                        color: $primary-100;
                    }
                }
            }

            & svg {
                width: 1.125em;
                height: 1.125em;
            }

            & span {
                color: $black;
            }

            &:nth-child(n + 2) {
                margin-left: 80px;
            }
        }
    }

    &__holder {
        opacity: 0;
        will-change: opacity;
        padding-top: 84px;
        padding-bottom: 38px;
        margin-bottom: 70px;

        

        svg {
            width: 100%;
            height: auto;
        }
    }

    &__btn {
        opacity: 0;
        transform: translateY(20px);
        will-change: transform, opacity;
    }
}

.crs-loupe {
    z-index: -1;
    pointer-events: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba($primary-100, .5);
    border: 2px solid $primary-100;
    border-radius: 50%;
    opacity: 0;
    will-change: opacity, transform;
    transition: opacity ease .7s, z-index 0s 0s;
}

.holder-crs {
    cursor: none !important;

    & * {
        cursor: none !important;
    }
}

@keyframes clicked {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}




