.how-to-start {
    padding-top: 260px;

    .letter {
        display: inline-block;
        transform: scale(0) translateY(65%);
        will-change: transform;
    }

    &__btn {
        opacity: 0;
        transform: translateY(20px);
        will-change: transform, opacity;
    }

    &__steps {

        & > .card {
            transform: perspective(800px) rotateX(90deg);
        }

        &.animated {
            & > li {

                &:first-child {
                    animation: 1.2s linear 0s flipInX;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    &::before {
                        opacity: 1;
                        transform: scale(1);
                    }

                    & > .line-bind {
                        @include min-w-xl {
                            width: calc(100% - 24px);
                        }
                        @include max-w-lg {
                            height: calc(100% - 24px);
                        }
                    }

                    &::after {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                &:nth-child(2) {

                    &::before {
                        transition: .8s opacity .5s, .8s transform .3s;
                    }

                    & > .line-bind {
                        @include min-w-xl {
                            transition: .3s width .5s;
                        }
                        @include max-w-lg {
                            transition: .3s height .5s;
                        }
                    }

                    &::after {
                        transition: 1.2s transform .3s, 1.1s opacity .5s;
                    }
                }

                &:nth-child(3) {
                    animation: 1.2s linear .07s flipInX;
                }

                &:nth-child(4) {
                    & > .circle-left {
                        transition: .8s opacity .9s, .8s transform .9s;
                    }

                    &::before {
                        @include min-w-xl {
                            transition: .3s width .9s;
                        }
                        @include max-w-lg {
                            transition: .3s height .9s;
                        }
                    }

                    &::after {
                        transition: .7s transform 1s, .7s opacity 1s;
                    }
                }

                &:last-child {
                    animation: 1.2s linear .14s flipInX;
                }
            }
        }
    }
}



