.services {
    @include min-w-xl {
        padding-top: 3.75em;
    }
    padding-top: 1.875em;

    p .word {
        display: inline-block;
        transform: stranslateY(20px);
        will-change: transform;
    }

    &__item {
        @include min-w-prev-sm {
            margin-top: 3.75em;
            margin-bottom: 3.75em;
        }
        @include min-w-xl {
            margin-top: 8.75em;
            margin-bottom: 8.75em;
        }
        @include max-w-md {
            background-color: $white;
            box-shadow: 0 4px 16px rgba($black, .04);
            border-radius: 28px;
            padding: 1.875em;
            overflow: hidden;
        }
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        position: relative;
    }

    &__text-anime {
        opacity: 0;
        transform: translateY(60%);
        will-change: transform, opacity;
    }

    &__text {
        max-width: 29em;

        &--offset {
            &-sm {
                @include min-w-md {
                    margin-left: 14%;
                    margin-bottom: 5%;
                }
                @include min-w-xl {
                    margin-top: 5%;
                }
            }

            &-md {
                @include min-w-md {
                    margin-left: 18%;
                    margin-bottom: 5%;
                }
                @include min-w-xl {
                    margin-top: 11%;
                }
            }
        }

        .letter {
            display: inline-block;
            transform: scale(0) translateY(65%);
            will-change: transform;
        }
    }
}
