.with-us {
    &__text {
        @include min-w-xl {
            padding-top: 11.875em;
        }
        @include min-w-prev-sm {
            padding-top: 3.75em;
        }
        padding-top: 2.188em;
    }

    &__list {
        & > li {
            min-height: 9.063em;
            overflow: hidden;
        }

        & > .card {
            opacity: 0;
            transform: translateY(100%);
            will-change: transform, opacity;
        }

        & .card__holder {
            opacity: 0;
            transform: translateY(100%);
            will-change: transform, opacity;
        }
    }

    &__description {
        opacity: 0;
        transform: translateY(150px);
        will-change: transform, opacity;
    }

    &__btn {
        opacity: 0;
        transform: translateY(20px);
        will-change: transform, opacity;
    }

    .title {
        opacity: 0;
        will-change: opacity;
    }

    .letter {
        display: inline-block;
        transform: scale(0) translateY(75px);
        will-change: transform;
    }

    img.with-us-illustration {
        opacity: 0;
    }
}
