.write-to-us {
    @include min-w-xl {
        margin-bottom: 9.375em;
    }
    padding-top: 13.125em;
    margin-bottom: 4.375em;

    &__block {
        @include min-w-xl {
            margin-right: 2.5em;
            max-width: 31.25em;
        }
    }

    &__contacts {
        @include min-w-xl {
            width: 20em;
        }
        border-top: 1px solid $secondary-200;
        padding-top: 2.5em;

        &-title {
            font-size: 1.125em;
            line-height: 150%;
            font-weight: 500;
            will-change: color;
            transition: color .15s ease-in-out;
            margin-top: 5em !important;
            margin-bottom: 1.5em !important;
            @include max-w-lg {
                margin-top: 3.125em !important;
                margin-bottom: 1em !important;
            }
            @include max-w-prev-xs {
                margin-top: 2em !important;
            }
        }

        & .contacts {
            @include max-w-lg {
                & > li {
                    &:nth-child(n + 2) {
                        margin-top: 0;
                    }
                    margin-right: 1.25em;
                }
            }
        }
    }

    &__form {
        @include min-w-xl {
            max-width: 55em;
        }
        flex: 1 1 auto;
        @include max-w-lg {
            margin-top: 3.375em;
        }
        @include max-w-prev-xs {
            margin-top: 2em;
        }
    }
}
