.d {
    &-none {
        display: none;
    }

    &-block {
        display: block;
    }

    &-inline-block {
        display: inline-block;
    }

    &-flex {
        display: flex;
    }

    &-inline-flex {
        display: inline-flex;
    }
}

// Flex Utilities //
.flex {
    &-column {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }

    &-fill {
        flex: 1 1 auto;

        &-no-shrink {
            flex: 1 0 auto;
        }

        &-100per {
            flex: 1 1 100%;
        }
    }

    &-no-shrink {
        flex-shrink: 0;
    }

    &-wrap {
        flex-wrap: wrap;
    }
}

// Box alignment
.align-items {
    &-start {
        align-items: flex-start;
    }

    &-end {
        align-items: flex-end;
    }

    &-center {
        align-items: center;
    }

    &-baseline {
        align-items: baseline;
    }

    &-stretch {
        align-items: stretch;
    }
}

.justify-content {
    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }

    &-center {
        justify-content: center;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }
}
