<section class="advantages mb-40 lg-max:mb-70 pos-relative">
    <span class="advantages-bg-figure-left"></span>
    <span class="advantages-bg-figure-right"></span>
    <div class="container">
        <h2 class="title title--main fw-semi-bold l-height-129% color-dark text-center" data-el-anime="advantages-title">Our advantages</h2>
        <ul class="items-list items-list--col-3 lg-max:mt-60 prev-xs-max:mt-50 mt-85" data-el-anime="advantages-cards">
            <li class="advantages__card card card--medium card--with-shadow">
                <div class="card__holder d-flex justify-content-between">
                    <div>
                        <h6 class="text text--fz-18 color-dark fw-semi-bold l-height-129%">
                            Convenient form of payment.
                        </h6>
                        <div class="l-height-170% color-dark2 mt-10 text-anime">
                            An intuitive form of payment that every client can understand.
                        </div>
                    </div>
                    <div class="card__pic flex-no-shrink d-flex align-items-center">
                        <img src="../../images/advantages-1.png" alt="paymakassa" />
                    </div>
                </div>
            </li>
            <li class="advantages__card card card--medium card--with-shadow">
                <div class="card__holder d-flex justify-content-between">
                    <div>
                        <h6 class="text text--fz-18 color-dark fw-semi-bold l-height-129%">Convenient connection.</h6>
                        <div class="l-height-170% color-dark2 mt-10 text-anime">
                            It will take a minimum of time to open an account.
                        </div>
                    </div>
                    <div class="card__pic flex-no-shrink d-flex align-items-center">
                        <img src="../../images/advantages-2.png" alt="paymakassa" />
                    </div>
                </div>
            </li>
            <li class="advantages__card card card--medium card--with-shadow">
                <div class="card__holder d-flex justify-content-between">
                    <div>
                        <h6 class="text text--fz-18 color-dark fw-semi-bold l-height-129%">24/7 support.</h6>
                        <div class="l-height-170% color-dark2 mt-10 text-anime">
                            We work 24/7 and help resolve any issues related to payments quickly and efficiently.
                        </div>
                    </div>
                    <div class="card__pic flex-no-shrink d-flex align-items-center">
                        <img src="../../images/advantages-3.png" alt="paymakassa" />
                    </div>
                </div>
            </li>
            <li class="advantages__card card card--medium card--with-shadow">
                <div class="card__holder d-flex justify-content-between">
                    <div>
                        <h6 class="text text--fz-18 color-dark fw-semi-bold l-height-129%">
                            You can start without a website.
                        </h6>
                        <div class="l-height-170% color-dark2 mt-10 text-anime">
                            To connect to the system, you just need to create an account in the personal office.
                        </div>
                    </div>
                    <div class="card__pic flex-no-shrink d-flex align-items-center">
                        <img src="../../images/advantages-4.png" alt="paymakassa" />
                    </div>
                </div>
            </li>
            <li class="advantages__card card card--medium card--with-shadow">
                <div class="card__holder d-flex justify-content-between">
                    <div>
                        <h6 class="text text--fz-18 color-dark fw-semi-bold l-height-129%">No prepayment.</h6>
                        <div class="l-height-170% color-dark2 mt-10 text-anime">Connection to the service is free of charge.</div>
                    </div>
                    <div class="card__pic flex-no-shrink d-flex align-items-center">
                        <img src="../../images/advantages-5.png" alt="paymakassa" />
                    </div>
                </div>
            </li>
            <li class="advantages__card card card--medium card--with-shadow">
                <div class="card__holder d-flex justify-content-between">
                    <div>
                        <h6 class="text text--fz-18 color-dark fw-semi-bold l-height-129%">Finished module.</h6>
                        <div class="l-height-170% color-dark2 mt-10 text-anime">
                            We offer a ready-made module for accepting and processing payments that does not require
                            revision. You just need to insert it into your site.
                        </div>
                    </div>
                    <div class="card__pic flex-no-shrink d-flex align-items-center">
                        <img src="../../images/advantages-6.png" alt="paymakassa" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
