<footer class="footer">
    <div class="container">
        <div class="footer__holder pt-50">
            <div class="footer__logo logo">
                <svg>
                    <use xlink:href="#icon-logo-main"></use>
                </svg>
            </div>
            <div class="footer__items lg-max:mt-70">
                <ul class="footer__menu">
                    <li class="footer__menu-headline">
                        Main paige
                    </li>
                    <li>
                        <a href="#">Price</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Faq</a>
                    </li>
                </ul>
                <ul class="footer__menu">
                    <li class="footer__menu-headline">
                        Developers
                    </li>
                    <li>
                        <a href="#">Plugin</a>
                    </li>
                    <li>
                        <a href="#">Api</a>
                    </li>
                    <li>
                        <a href="#">Start integration</a>
                    </li>
                    <li>
                        <a href="https://docs.paykassma.com/category/pd">Documentation</a>
                    </li>
                </ul>
                <ul class="footer__menu">
                    <li class="footer__menu-headline">
                        Company
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Partners</a>
                    </li>
                    <li>
                        <a href="#">Testimonial</a>
                    </li>
                </ul>
                <ul class="footer__menu">
                    <li class="footer__menu-headline">
                        Blog
                    </li>
                    <li>
                        <a href="https://paykassma.com/blog/">Paykassma Blog</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__copyright mt-60 lg-max:mt-70">
            © <span data-current-year>2021</span> Paykassma. All rights reserved.
        </div>
    </div>
</footer>
