<section class="how-to-start">
    <div class="container">
        <h2 class="title title--main fw-semi-bold l-height-129% color-dark text-center text:prev-xs-left" data-el-anime="how-to-start-title">
            How to start
        </h2>
        <ul class="items-steps how-to-start__steps mt-85" data-el-anime="how-to-start-steps">
            <li class="card card--small d-flex flex-column">
                <div class="d-flex flex-fill">
                    <div class="card__figure">
                        <span class="text text--fz-24 text--nowrap color-white fw-semi-bold l-height-170%">Step 1</span>
                    </div>
                    <div class="card__holder ml-10 mr-10 d-flex align-items-center">
                        <span class="text color-dark2 l-height-170%">You log in and configure your office</span>
                    </div>
                </div>
            </li>
            <li class="items-steps__bond">
                <span class="line-bind"></span>
            </li>
            <li class="card card--small d-flex flex-column">
                <div class="d-flex flex-fill">
                    <div class="card__figure">
                        <span class="text text--fz-24 text--nowrap color-white fw-semi-bold l-height-170%">Step 2</span>
                    </div>
                    <div class="card__holder ml-10 mr-10 d-flex align-items-center">
                        <span class="text color-dark2 l-height-170%"
                            >We accept payment and take care of the safety of payment</span
                        >
                    </div>
                </div>
            </li>
            <li class="items-steps__bond">
                <span class="line-bind"></span>
            </li>
            <li class="card card--small d-flex flex-column">
                <div class="d-flex flex-fill">
                    <div class="card__figure">
                        <span class="text text--fz-24 text--nowrap color-white fw-semi-bold l-height-170%">Step 3</span>
                    </div>
                    <div class="card__holder ml-10 mr-10 d-flex align-items-center">
                        <span class="text color-dark2 l-height-170%">You receive funds in your bank account</span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="mt-60 text-center">
            <a href="#" class="how-to-start__btn btn btn--outline-primary btn-anima" data-el-anime="how-to-start-btn">
                <span class="text text--fz-18 fw-semi-bold">Connection with us</span>
            </a>
        </div>
    </div>
</section>
