<section class="payment-methods">
    <div class="container">
        <h2 class="title title--main fw-semi-bold l-height-129% color-dark text-center">Payment methods</h2>
        <div class="mt-80 logos-slider" data-slider-wrap>
            <div class="swiper-container" data-slider>
                <div class="swiper-wrapper">
                    <div class="swiper-slide card card--small pb-25">
                        <img src="../../images/paymentMethods/1.svg" alt="1" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/2.svg" alt="2" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/3.svg" alt="3" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/4.svg" alt="4" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/5.svg" alt="5" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/6.svg" alt="6" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/7.svg" alt="7" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/8.svg" alt="8" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/9.svg" alt="9" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/10.svg" alt="10" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/11.svg" alt="11" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/12.svg" alt="12" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/13.svg" alt="13" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/14.svg" alt="14" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/15.svg" alt="15" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/16.svg" alt="16" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/17.svg" alt="17" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/18.svg" alt="18" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/19.svg" alt="19" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/20.svg" alt="20" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/21.svg" alt="21" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/22.svg" alt="22" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/23.svg" alt="23" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/24.svg" alt="24" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/25.svg" alt="25" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/26.svg" alt="26" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/27.svg" alt="27" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/28.svg" alt="28" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/29.svg" alt="29" class="swiper-slide-icon" />
                    </div>
                    <div class="swiper-slide card card--small">
                        <img src="../../images/paymentMethods/30.svg" alt="30" class="swiper-slide-icon" />
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev">
                <svg>
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg>
                    <use xlink:href="#icon-arrow"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
