<div id="popup-notification" class="popup" style="display: none;">
    <div class="popup__overlay" data-popup-close></div>
    <div class="popup__wrap text-center">
        <a href="#" class="popup__close" data-popup-close>
            <svg>
                <use xlink:href="#icon-close"></use>
            </svg>
        </a>
        <div class="popup__title text text--fz-18 l-height-129% color-dark fw-semi-bold">Notification</div>
        <div class="popup__subtitle text l-height-175% mt-35">
            Thank you!
            <span class="d-block">We will contact you shortly.</span>
        </div>
        <div class="popup__image">
            <svg class="mt-30 ml-15">
                <use xlink:href="#image-popup"></use>
            </svg>
        </div>
    </div>
</div>