<section class="services pos-relative">
    <span class="services-bg-figure-left"></span>
    <span class="services-bg-figure-right"></span>
    <div class="container">
        <div class="services__item">
            <ul class="two-items">
                <li class="two-items__pic">
                    <div>
                        <lottie-player
                            src="https://assets3.lottiefiles.com/private_files/lf30_rqzicykw.json"
                            background="transparent"
                            speed="1"
                            loop
                            class="services-illustration services-illustration-service"
                            data-el-anime="services-illustration-first"
                        ></lottie-player>
                    </div>
                </li>
                <li>
                    <div class="services__text services__text--offset-md">
                        <h2 class="title title--main fw-semi-bold l-height-129% color-dark" data-el-anime="services-title-first">Service</h2>
                        <div class="mt-40">
                            <p class="text color-dark2 text--fz-14:md-16 l-height-170% services__text-anime" data-el-anime="services-description-first">
                                Paykassma.com is an online service designed to carry out secure money transfers between
                                the Client of the service and the Users of the Client's resource (User). Services
                                provided by the Paykassma.com service For the convenience and safety of making money
                                transfers.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="services__item">
            <ul class="two-items sm-max:d-flex sm-max:flex-column-reverse">
                <li>
                    <div class="services__text services__text--offset-sm">
                        <h2 class="title title--main fw-semi-bold l-height-129% color-dark" data-el-anime="services-title-second">
                            Enter international markets
                        </h2>
                        <div class="mt-40">
                            <p class="text color-dark2 text--fz-14:md-16 l-height-170%" data-el-anime="services-description-second">
                                We work in countries such as India, Bangladesh, Indonesia, Vietnam, and others. We
                                provide services in more than 15 countries around the world and continue to expand our
                                borders. Fondy's partnership agreements with European banks will provide you with
                                uninterrupted acceptance of international payments.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="two-items__pic">
                    <div>
                        <lottie-player
                            src="https://assets7.lottiefiles.com/packages/lf20_z6dgjg6g.json"
                            background="transparent"
                            speed="1"
                            loop
                            class="services-illustration services-illustration-markets"
                            data-el-anime="services-illustration-second"
                        ></lottie-player>
                    </div>
                </li>
            </ul>
        </div>
        <div class="services__item">
            <ul class="two-items">
                <li class="two-items__pic">
                    <div>
                        <lottie-player
                            src="https://assets2.lottiefiles.com/packages/lf20_nceau5wx.json"
                            background="transparent"
                            speed="1.5"
                            loop
                            class="services-illustration services-illustration-friendly"
                            data-el-anime="services-illustration-third"
                        ></lottie-player>
                    </div>
                </li>
                <li class="mt-45">
                    <div class="services__text services__text--offset-md">
                        <h2 class="title title--main fw-semi-bold l-height-129% color-dark" data-el-anime="services-title-third">Be customer friendly</h2>
                        <div class="mt-40">
                            <p class="text color-dark2 text--fz-14:md-16 l-height-170%" data-el-anime="services-description-third">
                                Instantly accept payments with foreign currency cards issued anywhere in the world.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
