<section class="with-us pos-relative">
    <span class="with-us-bg-figure"></span>
    <div class="container">
        <ul class="two-items header-two-items two-items--lg-collapse">
            <li class="two-items__text with-us__text">
                <h1 class="title title--huge fw-bold l-height-129% color-dark" data-el-anime="with-us-title">
                    Convenient online payments for your business
                </h1>
                <div class="with-us__description text text--fz-16:prev-md-18 prev-xs-max:mt-15 mt-35 l-height-129%" data-el-anime="with-us-description">
                    Fast and secure money transfers.
                    <br />
                    <br />
                    It is a clear guide for accepting payments quickly and safely.
                    <br />
                    <br />
                    More than 100 companies have already managed to connect to us. There are more than 2 million
                    registered recipients of payments. Increase business opportunities with Paykassma.com.
                </div>
                <div class="mt-60 prev-xs-max:d-none">
                    <a href="#" id="with-us-btn" class="with-us__btn btn btn--primary btn-anima">
                        <span class="text text--fz-16:prev-md-18 fw-semi-bold">Connect now!</span>
                    </a>
                </div>
            </li>
            <li class="two-items__pic">
                <div class="prev-xs-max:mt-35 mt-75">
                    <lottie-player
                        src="https://assets7.lottiefiles.com/packages/lf20_lgdqn9vb.json"
                        background="transparent"
                        speed="1"
                        loop
                        id="with-us-illustration"
                        class="with-us-illustration"
                        data-mq-el-anime
                    ></lottie-player>
                </div>
                <div class="d-none prev-xs-max:d-block text-center mb-70">
                    <a href="#" id="with-us-btn-mob" class="with-us__btn btn btn--primary btn-anima">
                        <span class="text text--fz-16:prev-md-18 fw-semi-bold">Connection with us</span>
                    </a>
                </div>
            </li>
        </ul>
        <div class="lg-max:mt-40 mt-55">
            <ul class="with-us__list items-list items-list--col-4" data-el-anime="with-us-statistics">
                <li class="card card--small card--bottom-line">
                    <div class="card__holder text-center">
                        <h4 class="text text--fz-36 color-primary fw-semi-bold l-height-130%">For 3 years</h4>
                        <div class="l-height-130% card__text mx-auto mt-15">Secure reception of payments</div>
                    </div>
                </li>
                <li class="card card--small card--bottom-line">
                    <div class="card__holder text-center">
                        <h4 class="text text--fz-36 color-primary fw-semi-bold l-height-130%">100+</h4>
                        <div class="l-height-130% card__text mx-auto mt-15">Client companies</div>
                    </div>
                </li>
                <li class="card card--small card--bottom-line">
                    <div class="card__holder text-center">
                        <h4 class="text text--fz-36 color-primary fw-semi-bold l-height-130%">2+ million</h4>
                        <div class="l-height-130% card__text mx-auto mt-15">Registered payees</div>
                    </div>
                </li>
                <li class="card card--small card--bottom-line">
                    <div class="card__holder text-center">
                        <h4 class="text text--fz-36 color-primary fw-semi-bold l-height-130%">16</h4>
                        <div class="l-height-130% card__text mx-auto mt-15">
                            Countries are accessible for reception of payments
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
