<section class="write-to-us pos-relative" id="write-to-us">
    <span class="write-to-us-bg-figure-left"></span>
    <div class="container">
        <div class="d-flex lg:d-block justify-content-between">
            <div class="write-to-us__block">
                <h2 class="title title--main fw-semi-bold l-height-129% color-dark">
                    Are you ready to join us or do you want to know more? Text us right now!
                </h2>
                <p class="write-to-us__contacts-title" data-title-support>All Questions</p>
                <div class="write-to-us__contacts">
                    <ul class="contacts lg:d-flex">
                        <li>
                            <a href="https://telegram.me/paykassma_support" class="contacts__link" data-link-support>
                                <svg>
                                    <use xlink:href="#icon-telegram"></use>
                                </svg>
                                <span class="ml-20 text text--fz-18 fw-medium">paykassma_support</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@paykassma.com" class="contacts__link">
                                <svg>
                                    <use xlink:href="#icon-mail"></use>
                                </svg>
                                <span class="ml-20 text text--fz-18 fw-medium">info@paykassma.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <form
            
                action="/email/sendmail.php"
                enctype="application/x-www-form-urlencoded | multipart/form-data | text/plain"
                class="form write-to-us__form pos-relative"
                id="form"
            >
                <span class="write-to-us-bg-figure-right"></span>
                <div class="form__radio-btn">
                    <p>What topic are you interested in?</p>
                    <label data-radio-btn="https://telegram.me/paykassma_support" class="active">
                        <input type="radio" name="Topic" value="Commercial Offers" checked />
                        <span>Commercial Offers</span>
                    </label>
                    <label data-radio-btn="https://telegram.me/pkassmapaysup">
                        <input type="radio" name="Topic" value="Payment Inquiries" />
                        <span>Payment Inquiries</span>
                    </label>
                </div>
                <ul class="form__list-group">
                    <li>
                        <div class="form__control">
                            <label>
                                <input type="text" name="Name" placeholder="John Doe" required />
                                <span>First Name</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form__control">
                            <label>
                                <input
                                    type="email"
                                    name="E-mail"
                                    placeholder="Enter E-mail"
                                    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b"
                                    required
                                />
                                <span>E-mail</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form__control">
                            <label>
                                <input type="tel" name="Phone Number" placeholder="Phone number" required />
                                <!-- pattern="[0-9]{10}|[+][0-9]{12}" -->
                                <span>Telegram</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="form__control">
                            <label>
                                <input
                                    type="url"
                                    name="Site"
                                    pattern="https?://.*"
                                    placeholder="https://example.com"
                                    required
                                />
                                <span>Url of you product</span>
                            </label>
                        </div>
                    </li>
                </ul>
                <div class="form__group">
                    <div class="form__control">
                        <label>
                            <input type="text" name="Message" placeholder="Write your message..." />
                            <span>How we may help you?</span>
                        </label>
                    </div>
                </div>
                <div class="text-right text:max-sm-center">
                    <button class="btn btn--primary" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>
