.btn {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    padding: 1.25em 3.75em;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 150%;
    border-radius: 46px;
    user-select: none;
    border: 1px solid transparent;
    color: $white;
    font-weight: 400;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    & > span {
        color: $white;
        transition: color .15s ease-in-out;
    }



    &--primary {
        background-color: $primary-100;

        &:hover {
            background-color: $primary-200;
        }

        // &:active {
        //     box-shadow: 0 0 0 0.2rem rgba($primary-200, .5);
        // }
    }

    &--outline-primary {
        background-color: transparent;
        border-color: $primary-100;

        & > span {
            color: $primary-100;
        }

        &:hover {
            background-color: $primary-100;

            & > span {
                color: $white;
            }
        }
    }
}
