.form {
    &__list-group {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.25em;
        margin-right: -1.25em;
        margin-bottom: -2.5em;

        & > li {
            flex: 1 1 calc(50% - 2.5em);
            margin-left: 1.25em;
            margin-right: 1.25em;
            margin-bottom: 2.5em;
        }
    }

    &__group {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }

    &__control {
        & label {
            display: flex;
            flex-direction: column-reverse;
        }

        & input {
            @include placeholder {
                color: $secondary-100;
                text-overflow: ellipsis;
                // line-height: 1.5em;
                // letter-spacing: .3px;
            }
            padding: 0.556em 0;
            background: transparent;
            border: none;
            outline: none;
            color: $black;
            font-size: 1.125em;
            line-height: 150%;
            border-bottom: 1px solid $secondary-100;
            will-change: border-color;
            transition: border-color 0.15s ease-in-out;

            & ~ span {
                font-size: 1.125em;
                line-height: 150%;
                font-weight: $medium;
                margin-bottom: 0.556em;
                will-change: color;
                transition: color 0.15s ease-in-out;
            }

            &:focus {
                @include placeholder {
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }
                border-color: $primary-300;

                & ~ span {
                    color: $primary-300;
                }
            }
        }
    }

    &__radio-btn {
        margin-bottom: 2.125em;
        @include max-w-lg {
            margin-bottom: 3.125em;
        }
        @include max-w-prev-xs {
            margin-bottom: 2em;
        }

        p {
            font-size: 1.125em;
            line-height: 150%;
            font-weight: 500;
            will-change: color;
            transition: color 0.15s ease-in-out;
            margin-top: 0;
            margin-bottom: 1.5em;
        }

        label {
            display: inline-flex;
            padding: 1.125em 1.25em;
            background-color: white;
            align-items: center;
            border-radius: 0.5em;
            cursor: pointer;

            &:last-child {
                margin-left: 1.2rem;
            }
            @include max-w-prev-xs {
                width: 100%;

                &:last-child {
                    margin-left: 0;
                    margin-top: 0.75em;
                }
            }

            span {
                margin-left: 0.75em;
                font-weight: 400;
                font-size: 1em;
                line-height: 125%;
            }

            input {
                width: 1.125em;
                height: 1.125em;
            }

            &.active {
                color: #2f74f3;
            }
        }
    }
}
